body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(Background.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.title{
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

h2{
    font-size: 3em;
    margin-top: 2em;
}

p{
    font-size: 1em;
    font-weight: bolder;
    margin-top: -2.5em;
}

h1{
    font-size: 8em;
    margin-top: 0em;
    color: red;
} 

button{
    display: block;
    margin: 2em auto;
    padding: 1em 2em;
    font-size: 1.5em;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}